html {
  height: 100%;
}

body {
  display: flex;
  font-family: sans-serif;
  background-color: #1F1F3D;
  height: 100%;
  margin: 0;
}

/* Side Nav */
.side-navigation {
  display: flex;
  flex-direction: column;
  color: #E9E9F3;
  width: 250px;
}

.side-title-button {
  border: 1px solid;
  border-color: #353567;
  padding: 5px;
}

.side-nav-header1 {
  color: #E9E9F3;
  font-size: medium;
  padding: 10px;
  margin: 6px;
}

.side-nav-header2 {
  color: #BFBFDD;
  font-size: small;
  margin: 10px;
}

.side-nav-button {
  background-color: #5356A4;
  color: #E9E9F3;
  font-size: medium;
  border: 1px solid;
  border-color: #353567;
  width: 200px;
  height: 35px;
  padding: 10px;
  margin: 10px;
}

.ideas-form-and-saved {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #A9AAD2;
  height: 40%;
  width: 100%;
  margin: 0;
}

.form-header {
  display: flex;
  font-size: small;
  margin-bottom: 5px;
}

.title-input {
  border: 1px solid;
  border-color: #353567;
  border-radius: 2.5px;
  width: 295px;
  height: 35px;
  border-radius: 2.5px;
}

.body-input {
  font-family: 'Open Sans', sans-serif;
  border: 1px solid;
  border-color: #353567;
  border-radius: 2px;
  height: 70px;
  width: 295px;
}

.search-box {
  border: 1px solid;
  border-color: #353567;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  border-color: #353567;
  background-color: #353567;
  border-radius: 2.5px;
  width: 300px;
  height: 35px;
}

.search-input {
  border: 0;
  border-radius: 1px;
  width: 260px;
  height: 35px;
  padding: 0;
  padding-left: 8px;
}

.search-icon {
  display: flex;
  height: 18px;
  width: 18px;
  margin-left: 5px;
}

.save-button {
  font-size: medium;
  background-color: #353567;
  color: #E9E9F3;
  width: 300px;
  height: 35px;
  border: 1px solid;
  border-color: #353567;
  border-radius: 2.5px;
}

.cursor {
  cursor: pointer;
}

/* Saved Ideas Section */
.saved-ideas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  overflow: auto;
  background-color: #EAEAF4;
  height: 60%;
  padding: 20px;
}

.saved-idea-box {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border: 1px solid;
  border-color: #353567;
  height: 220px;
}

.saved-idea-box header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1F1F3D;
  border: 1px solid;
  border-color: #353567;  
  height: 30px;
}

.header-img,
.comment-img {
  height: 25x;
  width: 25px;
}

.header-img,
.comment-img {
  height: 25x;
  width: 25px;
}

.idea-title {
  display: flex;
  font-size: medium;
  height: 20%;
  margin-left: 10px;
  margin-right: 10px;
}

.idea-body-text {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  height: 80%;
  margin-left: 10px;
  margin-right: 10px;
  height: 80%;
  font-family: 'Open Sans', sans-serif, light;
}

.saved-idea-box body {
  display: flex;
  color: #1F1F3D;
  border: 1px solid;
  border-color: #353567;
  height: 20px;
}

.saved-idea-box footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #5356A4;
  color: #E9E9F3;
  font-size: small;
  border: 1px solid;
  border-color: #353567;  
  height: 30px;
}

.hidden {
  display: none;
}